* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  overflow: hidden;
  min-width: 240px;
}

header {
  height: 70px;
  background-color: red;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.container {
  display: flex;
  margin-top: 70px;
  height: calc(100vh - 70px);
}

.sidebar {
  width: 120px;
  background-color: gray;
  padding: 20px;
  overflow-y: auto;
  height: 100%;
}

.content {
  flex-grow: 1;
  padding: 20px;
  overflow-y: auto;
  height: 100%;
}
